<?xml version="1.0" encoding="utf-8" ?>
<!-- sipp_ta_manager basic configuration -->
<sipptam
    dutHost="10.22.22.110"
    dutPort="5060"
    logLevel="info"
    logColor="True">
  
  <!-- sipptas user agents definition -->
  <slaveList defaultPort="5000" defaultJobs="1">
    <slave host="10.22.22.200"/>
    <slave host="10.22.22.201" port="5001" jobs="2"/>
    <slave host="10.22.22.202" port="5002" jobs="4"/>
  </slaveList>

  <!-- Test framework -->
  <testrunList
     scenariosFolder="/etc/sipp_ta_manager/scenarios"
     regex="[sipp_ta_scenario]_[name]_[part].xml"
     defaultFieldsFile="/etc/sipp_ta_manager/fields/fields.csv"
     pause="30.0"
     defaultParamR="1" 
     defaultParamM="1">
    <!-- Running 1 call of each test for all tests in serial mode -->
    <testrun applyRegex="(.*)" pause="5.0" execMode="serial" tries="2"/>
    <!-- Running {5, 10} calls at a time with a maximum of {100, 200} calls in serial mode -->
    <testrun applyRegex="(.*)" pause="20.0" paramR="5;10" paramM="100;200" execMode="serial" tries="2"/>
    <!-- Running {5, 10} calls at a time with a maximum of {500, 1000} calls in parallel mode -->
    <testrun applyRegex="(.*)" pause="10.0" paramR="5;10" paramM="500;1000" execMode="parallel" tries="4"/>

    <!-- Example of more advance configuration -->
    <testrun applyRegex="(.*)" pause="10.0" paramM="1;20;40;80" execMode="serial" tries="1">
      <modificationList>
	<!-- Applying a string conversion to the scenarios that might apply  -->
	<replaceList applyRegex="(.*test001.*)">
	  <replace from="__tmp1a__" to="tmp1a"/>
	  <replace from="__tmp2b__" to="tmp2b"/>
	</replaceList>
	<!-- Applying a string conversion to the scenarios that might apply  -->
	<replaceList applyRegex="(.*test002.*)">
	  <replace from="__tmp2a__" to="tmp2a"/>
	</replaceList>
	<!-- Applying a string conversion to the scenarios that might apply,
	     also setting a new fieldsFile  -->
	<replaceList applyRegex="(.*test003.*)" fieldsFile="users3.csv">
	  <replace from="__tmp3a__" to="tmp3a"/>
	  <replace from="__tmp3b__" to="tmp3b"/>
	  <replace from="__tmp3c__" to="tmp3c"/>
	</replaceList>
      </modificationList>
    </testrun>

  </testrunList>
</sipptam>
