<?xml version="1.0" encoding="utf-8" ?>
<!-- sipptam basic configuration -->
<sipptam logLevel="info">

  <!-- sipptas user agents definition -->
  <tasList>
    <tas host="10.22.22.200" port="5000" jobs="2"/>
    <tas host="10.22.22.201" port="5001" jobs="2"/>
    <tas host="10.22.22.202" port="5002" jobs="4"/>
  </tasList>

  <!-- Test framework -->
  <testrunList
     scenariosPath="/System/Library/Frameworks/Python.framework/Versions/2.7/usr/local/share/sipptam/scenarios/*xml"
     scenarioMaxN="10000"
     scenarioMaxSize="1000"
     validateScenarioXML="True">
    <!-- Running 1 call of each test for all tests in serial mode -->
    <testrun regex="(.*-000.*)" pause="5.0" paramR="1" paramM="1"
	     execMode="serial" tries="2" conf="one"/>
    <!-- Running {5, 10} calls at a time with a maximum of {100, 200} 
	 calls in serial mode -->
    <testrun regex="(.*-001.*)" pause="20.0" paramR="5;10" paramM="100;200"
	     execMode="serial" tries="2"/>
    <!-- Running {5, 10} calls at a time with a maximum of {500, 1000} 
	 calls in parallel mode -->
    <testrun regex="(.*-002.*)" pause="10.0" paramR="5;10" paramM="50;100"
	     execMode="parallel" tries="4"/>
    <!-- Example of more advance configuration -->
    <testrun regex="(.*)" pause="10.0" paramR="1" paramM="1;20;40;80"
	     execMode="serial" tries="1"/>
  </testrunList>
  <configurationList>
    <configuration id="one">
      <replaceList>
	<replace regex="(.*_a.xml)" src="__tmp1a__" dst="tmp1a"/>
	<replace regex="(.*_a.xml)" src="__tmp2a__" dst="tmp2a"/>
	<replace regex="(.*_b.xml)" src="__tmp1b__" dst="tmp1b"/>
	<replace regex="(.*_b.xml)" src="__tmp1b__" dst="tmp1b"/>
	<replace regex="(.*_b.xml)" src="__tmp1b__" dst="tmp1b"/>
	<replace regex="(.*_c.xml)" src="__tmp1c__" dst="tmp1c"/>
	<replace regex="(.*_c.xml)" src="__tmp1c__" dst="tmp1c"/>
	<replace regex="(.*_c.xml)" src="__tmp1c__" dst="tmp1c"/>
      </replaceList>
      <fieldsFileList>
	<fieldsFile regex="(.*_a.xml)" fieldsFile="path_to_file"/>
	<fieldsFile regex="(.*_b.xml)" fieldsFile="path_to_file"/>
      </fieldsFileList>
    </configuration>
  </configurationList>
</sipptam>
